h1,
h2,
h3,
h4,
h5,
h6,
body,
.theming-btn,
header nav ul li a,
.about-us .experience-badge .years,
.about-us .about-stats .stat-box h4 {
  font-family: var(--rtl-font), sans-serif;
}

.accordion-button::after {
    margin-right: auto;
    margin-left: 0;
}

footer .footer-column .footer-widget .widget-title::after {
    right: 0px;
    left: auto;
}